{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "current"
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-import-assertions"
  ]
}
